<% layout('layouts/boilerplate') %>

<div class="service-text">
    <h1>الخدمات</h1>
</div>

<div class="service-container">
    <% campgrounds.forEach(campground => { %>
        <div class="card service mb-3">
            <div class="row g-0">
                <!-- Image Column -->
                <div class="col-md-4">
                    <img class="img-fluid service-img" alt="Service Image" src="<%= campground.image %>">
                </div>
                <!-- Details Column -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                        <p class="card-text">نوع الخدمة: <%= campground.category %></p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">المزيد</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
